.nav-active {
  border-bottom: #ffbb33 3px solid;
}
.nav-dashboard-active {
  background-color: #ffbb33;
  font-weight: 400;
  color: black !important;
}
.btn-warning {
  color: black;
}
.btn-warning:hover {
  color: black;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-regular {
  font-weight: 300;
}
.font-weight-light {
  font-weight: 200;
}
.font-weight-thin {
  font-weight: 100;
}
.hr {
  border-bottom: solid #536dfe 4px;
  width: 30%;
}
#motto {
  font-weight: 100;
  font-size: 29px;
  font-family: "Fira Code iScript";
}
#alasan {
  margin-top: -50px;
  z-index: 10;
}
#landing-img {
  z-index: 100;
  position: absolute;
  height: 550px;
  right: -50px;
  bottom: -155px;
}
footer {
  position: relative;
  width: 100%;
  font-size: 13px;
  bottom: 0;
  color: #fff;
}
#top-main {
  height: 240px;
}
#count-dashboard {
  position: relative;
  margin-top: -70px;
  z-index: 10;
}

/* ANU LAMA DI BAWAH INI */
#sign {
  text-align: center;
  padding: 40px;
  background: url("https://localhost/projekukk/public/img/image4.jpg") no-repeat;
  background-size: cover;
}
#sign .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
}
.site-section {
  text-align: center;
  padding: 60px;
}
.site-section h1 {
  margin-bottom: 30px;
}
.row-vh {
  height: 15vh;
}
.web-title {
  font-weight: 700;
  font-size: 30px;
}
.web-subtitle {
  font-weight: 100;
  font-size: 20px;
}
.main-title {
  font-weight: 400;
  color: #707070;
  padding: 15px;
  font-size: 30px;
  border-bottom: #037272 solid 5px;
}

.sidebar {
  border-left: #037272 30px solid;
  height: 100vh;
  background: #118791;
  overflow: hidden;
}
.main {
  height: 100vh;
}
.bl-main {
  border-left: #3aafa9 solid 4px;
}
hr {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 3px 0;
}
.text-menu {
  font-weight: 400;
}
.active-nav {
  font-weight: 700;
  background-color: #3aafa9;
  border-radius: 4px;
}

/* 
  HOVER
  EFFECT
*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin-top: 44%;
  background-color: transparent;
  border-radius: 5px;
  background-color: #118791;
}

.hovereffect a.info:hover {
  background-color: #037272;
  box-shadow: 0 0 5px #fff;
  color: white;
}

.hovereffect a.info {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
